<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.backend.domain.notice.mapper.NoticeMapper">
    
    <sql id="searchFrag">
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'TITLE'">
                        AND TITLE LIKE '%' + #{keyword} + '%'
                    </when>
                    <when test="searchType == 'CONTENT'">
                        AND CONTENT LIKE '%' + #{keyword} + '%'
                    </when>
                    <otherwise>
                        AND (TITLE LIKE '%' + #{keyword} + '%' OR CONTENT LIKE '%' + #{keyword} + '%')
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
    
    <select id="countNoticeList" parameterType="com.nexus.backend.domain.common.NxSearchRequest" resultType="long">
        SELECT COUNT(*)
        FROM NX_NOTICE
        <include refid="searchFrag" /> 
    </select>

    <select id="selectNoticeList" parameterType="com.nexus.backend.domain.common.NxSearchRequest" resultType="com.nexus.backend.domain.notice.NxNotice">
        SELECT NOTICE_ID, 
               TITLE, 
               CONTENT, 
               VIEW_COUNT, 
               REG_DT
        FROM NX_NOTICE
        <include refid="searchFrag" /> ORDER BY NOTICE_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>
    
    <select id="getNoticeDetail" resultType="com.nexus.backend.domain.notice.NxNotice">
        SELECT NOTICE_ID, 
               TITLE, 
               CONTENT, 
               VIEW_COUNT, 
               REG_DT
        FROM NX_NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </select>
    
    <insert id="insertNotice" parameterType="com.nexus.backend.domain.notice.NxNotice">
	    INSERT INTO TB_NOTICE (
	        title, 
	        content, 
	        view_count,
	        reg_id, 
	        reg_dt,       mod_id, 
	        mod_dt
	    ) VALUES (
	        #{title}, 
	        #{content}, 
	        0,
	        #{regId},     GETDATE(),    #{regId},     GETDATE()     )
	</insert>
    
    <update id="updateNotice" parameterType="com.nexus.backend.domain.notice.NxNotice">
	    UPDATE TB_NOTICE 
	    SET 
	        title = #{title},
	        content = #{content},
	        mod_id = #{regId},    mod_dt = GETDATE()    WHERE 
	        notice_id = #{noticeId}
	</update>

    <delete id="deleteNotice">
        DELETE FROM NX_NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </delete>
    
</mapper>