spring:
  application:
    name: nexus-backend

  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://localhost:3306/nexus_core?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: NexusPassword12!

mybatis:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8082

logging:
    level:
      root: INFO
      com.nexus: DEBUG

      log4jdbc.log4j2: WARN
      jdbc.sqlonly: OFF
      jdbc.sqltiming: INFO
      jdbc.audit: OFF
      jdbc.resultset: OFF
      jdbc.resultsettable: OFF
      jdbc.connection: OFF