spring:
  application:
    name: nexus-backend

    datasource:
       core:
          jdbc-url: ${SPRING_DATASOURCE_CORE_JDBC_URL}
          username: root
          password: NexusPassword12!
          driver-class-name: com.mysql.cj.jdbc.Driver
       service:
          jdbc-url: ${SPRING_DATASOURCE_SERVICE_JDBC_URL}
          username: sa
          password: NexusPassword12!
          driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

mybatis:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8082

logging:
    level:
      root: INFO
      com.nexus: DEBUG

      log4jdbc.log4j2: WARN
      jdbc.sqlonly: OFF
      jdbc.sqltiming: INFO
      jdbc.audit: OFF
      jdbc.resultset: OFF
      jdbc.resultsettable: OFF
      jdbc.connection: OFF